@media(min-width: 0px) and (max-width: 1199px){
    .first_buttons {
        font-size: 14pt;
        top: 50px;
        width: 150px;
        height: 50px;
    }
    .title {
        font-size: 24pt;
        top: 150px;
    }
    .bd-example {
        height: 350px;
    }
}
@media (min-width: 1200px){
    .first_buttons {
        font-size: 18pt;
        top: 85px;
        width: 270px;
        height: 55px;
    }
    .title {
        font-size: 33pt;
        top: 200px;
    }
    .bd-example {
        height: 550px;
    }
}
.news{
    margin-top: 0px;
    background-position: center center;
    background-attachment: scroll;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100%
}
.title {
    color: #00ff00;
    font-family: 'Georgia',serif;
    left: 10%;
    position: relative;
}
.bd-example {
    position: relative;
    padding: 0rem;
    margin: 0rem - 0rem 0;
    border: solid #dee2e6;
    border-width: 1px 0 0;
}
.first_buttons {
    background-color: #7fdbac;
    border-radius: 25px;
    position: relative;
    margin: 5px;
    color: #69685a;
    font-family: 'Arial',Arial,sans-serif;
    line-height: 0;
    font-weight: 600;
    border-width: 2px;
}
text{
    color: #1111da;
    font-size: 44px;
    font-family: 'Georgia',serif;
    line-height: 1.5;
    font-weight: 600;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}