@media (min-width: 0px) and (max-width: 749px) {
    .alert {
        min-height: 80px;
    }

    .imag {
        max-height: 6vh;
    }

    .test_off {
        width: 100%;
    }

    .prof {
        margin-left: 200px;
    }

    .prof-text {
        margin-left: 200px;
    }

    .news {
        width: 85%;
    }

    .test {
        max-height: 300px
    }

    .zoom_img {
        max-width: 65%;
    }

    .text {
        font-size: 12pt;
        width: 95%;
    }

    .first_buttons {
        font-size: 10pt;
        top: 40px;
        width: 100px;
        height: 40px;
        /*margin-left: 50%;*/
        margin-right: 0%;
        margin-top: 5px;
    }

    .title {
        font-size: 28pt;
        top: 80px;
    }

    .top-img {
        background-height: 100%;
        height: 350px;
    }

    .doc-img {
        width: 24%;
        margin-left: 100px;
        margin-right: 100px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
}

@media (min-width: 750px) and (max-width: 1199px) {
    .alert {
        min-height: 90px;
    }

    .zoom_img {
        max-width: 70%;
    }

    .imag {
        max-height: 6.5vh;
    }

    .test_off {
        width: 90%;
    }

    .prof {
        margin-left: 5px;
    }

    .news {
        width: 80%;
    }

    .test {
        max-height: 450px
    }

    .text {
        font-size: 14pt;
        width: 70%;
    }

    .first_buttons {
        font-size: 14pt;
        top: 50px;
        width: 20%;
        height: 50px;
        margin-left: 5px;
        margin-right: 5px;
        margin-top: 50px;
    }

    .title {
        font-size: 24pt;
        top: 150px;
    }

    .top-img {
        background-size: 100%;
        height: 350px;
    }

    .doc-img {
        width: 20%;
        margin-left: 5px;
        margin-right: 5px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
}

@media (min-width: 1200px) {
    .alert {
        min-height: 95px;
    }

    .zoom_img {
        max-width: 75%;
    }

    .imag {
        max-height: 7vh;
    }

    .test_off {
        width: 35%;
    }

    .prof {
        margin-left: 5px;
    }

    .news {
        width: 950px;
    }

    .test {
        max-height: 600px
    }

    .text {
        font-size: 20pt;
        width: 50%;
    }

    .first_buttons {
        font-size: 18pt;
        top: 85px;
        width: 270px;
        height: 55px;
        margin-left: 5px;
        margin-right: 5px;
    }

    .title {
        font-size: 73pt;
        top: 200px;
    }

    .top-img {
        background-size: 100%;
        height: 550px;
    }

    .doc-img {
        width: 20%;
        margin-left: 5px;
        margin-right: 5px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
}

.test {
    max-width: 99%;
}

.zoom_img {
    max-height: 99%;
}

.prof_text {
    margin: 3%;
}

.news {
    padding: 1.5rem;
    margin-right: 0;
    margin-left: 0;
    border-width: 1px;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    position: relative;
    border: solid #dee2e6;
    float: center;
}

.main {
    margin-top: 0px;
    background-position: center center;
    background-attachment: scroll;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100%
}

.title {
    width: 60%;
    font-family: 'Georgia', serif;
    left: 10%;
    position: relative;
}

.top-img {
    position: relative;
    padding: 0rem;
    margin: 0rem -0rem 0;
    border: solid #dee2e6;
    border-width: 1px 0 0;
}

.doc-img {
}

.first_buttons {
    background-color: #7fdbac;
    border-radius: 25px;
    position: relative;
    color: #69685a;
    font-family: 'Arial', Arial, sans-serif;
    line-height: 0;
    font-weight: 600;
    border-width: 2px;
}

a {
    text-decoration: none;
    background-color: transparent;
}

.text {
    color: #38393b;
    font-size: 14px;
    font-family: 'Georgia', serif;
    line-height: 1.5;
    font-weight: 600;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}

.1
flickity-prev-next-button.previous {
    left: 9%;
}

.1
flickity-prev-next-button.next {
    right: 9%;
}

textarea.form-control {
    height: 200px;
}


/*img {
  max-height: 90vh;
}*/

a {
    color: inherit;
}

a:hover {
    color: #bbb;
}

.lightbox {
    /* Default to hidden */
    display: none;

    /* Overlay entire screen */
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    /* A bit of padding around image */
    padding: 1em;

    /* Translucent background */
    background: rgba(0, 0, 0, 0.8);
}


.lightbox:target {
    display: block;
}

.lightbox span {
    /* Full width and height */
    display: block;
    width: 100%;
    height: 100%;

    /* Size and position background image */
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}


/* external css: flickity.css

* { box-sizing: border-box; }

body { font-family: sans-serif; }

.carousel {
  background: #FAFAFA;
}

.carousel-cell {
  width: 66%;
  height: 200px;
  margin-right: 10px;
  background: #8C8;
  border-radius: 5px;
  counter-increment: carousel-cell;
}*/

/* cell number
.carousel-cell:before {
  display: block;
  text-align: center;
  content: counter(carousel-cell);
  line-height: 200px;
  font-size: 80px;
  color: white;
}

.button {
  font-size: 22px;
}

.button-group {
  margin-bottom: 20px;
}*/

.input {
    disabled: true;
}

#checkbox1:checked ~ .form-control-file {
    disabled: true;
}
