<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>SNT</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
          crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
            crossorigin="anonymous"></script>


    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <!---style type="text/css">
     body {
      background-image: url(/static/img/nature.gif); /* Путь к фоновому рисунку */
      background-position: left bottom; /* Положение фона */
      background-repeat: no-repeat; /* Повторяем фон по горизонтали */
      background-size: 100%;
     }
    </style-->
    <!--meta name="viewport" content="width=device-width">
    <link rel='stylesheet' href='https://npmcdn.com/flickity@2/dist/flickity.css'>
    <link rel="stylesheet" href="/static/css/style.css"-->

</head>
<body>
<div class="top-img"
     style="background-image: url(/static/img/forest.jpg)">
    <div align="center">
        <a href="#news">
            <button type="button" class="btn first_buttons">новости</button>
        </a>
        <a href="#docs">
            <button type="button" class="btn first_buttons">документы</button>
        </a>
        <a href="#pays">
            <button type="button" class="btn first_buttons">оплата</button>
        </a>
        <a href="#cont">
            <button type="button" class="btn first_buttons">контакты</button>
        </a>
    </div>
    <div align="center">
        <h1 align="center" class="title" style="color: #00ff00;">СНТ<br> Какой-то</h1>
    </div>
</div>
<!--img src="{{ url_for('static', filename='img/nature.gif') }}" height="550px" width= "100%"-->
<!--div class="t396"-->
<!--div class="t396__artboard rendered" data-artboard-recid="183094591" data-artboard-height="550"
     data-artboard-height-res-320="430" data-artboard-height_vh="" data-artboard-valign="stretch"
     data-artboard-ovrflw="" data-artboard-proxy-min-offset-top="0"
     data-artboard-proxy-min-height="550" data-artboard-proxy-max-height="550" style="background-image: url(/static/img/1.jpg); background-size: 100%;"-->


<div class="main" style="background-color: #ebf5f4" align="center">
    <br>
    <div class="text" align="center" id="news"><h1 align="center" style="color: #363636"><b><big>Доска
        объявлений</big></b></h1><br></div>
    <div class="news">
        <h2 align="center">Уважаемые садоводы!<br>
            Очередное отчётно-выборное общее собрание
            членов СНТ</h2>
        <h3>Повестка дня собрания:</h3>
        {% for ph in text %}
        <h3 align="left">
            {% if ph.znach %}
            <div class="alert alert-danger" id="content" role="alert"><span style="color:#FF0000">! </span>
                {% else %}
                <div class="alert alert-primary" role="alert">
                    {% endif %}
                    {{ ph.text }}
                    {% for image in event_images[loop.index0] %}
                    <a href="#event{{ image }}">
                        <img style="float: right; position: relative;" class="imag" src="static/img/event_{{ image }}.png">
                    </a>
                    <a href="#news" class="lightbox" id="event{{ image }}">
                        <span style="background-image: url('/static/img/event_{{ image }}.png')"></span>
                    </a>
                    {% endfor %}
                    {% if admin %}
                    {% if event_del == ph.id %}
                    <div style="float: center; position: relative;"><a
                            href="/del/{{ ph.id }}"
                            class="btn btn-danger">Точно удалить</a></div>
                    <div style="float: center; position: relative; margin-right: 5px"><a
                            href="/"
                            class="btn btn-primary">Отмена</a></div>
                    {% else %}
                    <div style="float: center; position: relative;"><a
                            href="/{{ ph.id }}"
                            class="btn btn-danger">Удалить</a></div>
                    {% endif %}
                    {% endif %}
                </div>
        </h3>
        {% endfor %}
    </div>
    <br><br><br>
    <div class="text" align="center" id="report"><h1 align="center">Отчет Правления, отчет
        Ревизионной комиссии,
        отчет об исполнении сметы за 2020-2021 год</h1>
    </div>
    <br><br>
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            {% for image in images %}
            <button type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide-to="{{ loop.index0 }}"
                    {% if loop.first %} class="active" aria-current="true" {% endif %}
                    aria-label="Slide {{ loop.index }}"></button>
            {% endfor %}
        </div>
        <div class="carousel-inner">
            {% for image in images %}
            <div class="carousel-item{% if loop.first %} active{% endif %}">
                <a href="#img{{ image }}">
                    <img class="test" src="static/img/{{ image }}.png"></a>
            </div>
            <a href="#report" class="lightbox" id="img{{ image }}">
                <span style="background-image: url('/static/img/{{ image }}.png')"></span>
            </a>
            {% endfor %}
        </div>
        <button class="carousel-control-prev" style="width:25%" type="button"
                data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" style="width:25%" type="button"
                data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <br><br>
    <div class="text" align="center" id="docs"><h1 align="center">Документы СНТ</h1>
    </div>
    <br>
    {% for image in docs_image %}
    <a href="#img{{ image }}">
        <img class="doc-img" src="static/img/{{ image }}.png">
    </a>
    <a href="#docs" class="lightbox" id="img{{ image }}">
        <span style="background-image: url('/static/img/{{ image }}.png')"></span>
    </a>
    {% endfor %}
    <br><br><br>
    <div class="text" align="center" id="pays"><h1 align="center">Оплата членских взносов</h1><br>
        <table width="100%">
            <td width="50%">
                <a href="#img{{ oplata_image }}">
                    <img class="img" src="static/img/{{ oplata_image }}.png" width="100%">
                </a>
            </td>
            <a href="#pays" class="lightbox" id="img{{ oplata_image }}">
                <span style="background-image: url('/static/img/{{ oplata_image }}.png')"></span>
            </a>
            <td><h2 style="margin-left: 25px;" align="top">{{ oplata_text }}</h2></td>
        </table>
    </div>
    <br><br><br>
    <div class="text" align="center" id="dolgi"><h1 align="center">Долги по оплате членских
        взносов</h1><br>
        <a href="#img{{ dolgi_image }}">
            <img class="img" src="static/img/{{ dolgi_image }}.png" width="100%"></td>
        </a>
    </div>
    <a href="#dolgi" class="lightbox" id="img{{ dolgi_image }}">
        <span style="background-image: url('/static/img/{{ dolgi_image }}.png')"></span>
    </a>
    <br><br><br>
    <div class="text" align="center" id="cont"><h1 align="center">Контакты</h1><br>
        <!--table style="width:100%">
            <td class="prof" width="33%">
                <h3 class="prof_text" align="center">ПРЕДСЕДАТЕЛЬ</h3>
            </td>
            <td class="prof" width="33%">
                <h3 class="prof_text" class="prof" align="center">БУХГАЛТЕР</h3>
            </td>
            <td class="prof" width="33%">
                <h3 class="prof_text" align="center">КОМЕНДАНТ</h3>
            </td>
        </table-->
        <div class="text" align="center"><h2 align="center">
            ПРЕДСЕДАТЕЛЬ
            </br>
            Surname
            </br>
            Name
            </br>
            </br>
            Phone
        </h2></div>
        </br>
        <div class="text" align="center"><h2 align="center">
            БУХГАЛТЕР
            </br>
            Surname
            </br>
            Name
            </br>
            </br>
            Phone
        </h2></div>
        </br>
        <div class="text" align="center"><h2 align="center">
            КОМЕНДАНТ
            </br>
            Surname
            </br>
            Name
            </br>
            </br>
            Phone
        </h2>
        </div>
    </div>
    <!--div class="button-group">
        <button class="button" data-group="cell1">1984 to 1988 (Cell 1)</button>
        <button class="button is-selected" data-group="cell2">1989-1992 (Cell 2)</button>
        <button class="button" data-group="cell3">1993-1999 (Cell 3)</button>
        <button class="button" data-group="cell4">2000-2002 (Cell 4)</button>
        <button class="button" data-group="cell5">2003-2005 (Cell 5)</button>
    </div>
    <div class="carousel flickity-enabled is-draggable" tabindex="0">


        <div class="flickity-viewport" style="height: 200px; touch-action: pan-y;">
            <div class="flickity-slider" style="left: 0px; transform: translateX(-183.06%);">
                <div class="carousel-cell" data-group="cell1" style="position: absolute; left: 0%;"
                     aria-hidden="true"></div>
                <div class="carousel-cell" data-group="cell1" aria-hidden="true"
                     style="position: absolute; left: 66.69%;"></div>
                <div class="carousel-cell" data-group="cell2" style="position: absolute; left: 133.37%;"
                     aria-hidden="true"></div>
                <div class="carousel-cell is-selected" data-group="cell2"
                     style="position: absolute; left: 200.06%;"></div>
                <div class="carousel-cell" data-group="cell3" aria-hidden="true"
                     style="position: absolute; left: 266.75%;"></div>
                <div class="carousel-cell" data-group="cell3" aria-hidden="true"
                     style="position: absolute; left: 333.44%;"></div>
                <div class="carousel-cell" data-group="cell4" aria-hidden="true"
                     style="position: absolute; left: 400.12%;"></div>
                <div class="carousel-cell" data-group="cell4" aria-hidden="true"
                     style="position: absolute; left: 466.81%;"></div>
                <div class="carousel-cell" data-group="cell5" aria-hidden="true"
                     style="position: absolute; left: 533.5%;"></div>
                <div class="carousel-cell" data-group="cell5" aria-hidden="true"
                     style="position: absolute; left: 600.18%;"></div>
            </div>
        </div>
        <button class="flickity-button flickity-prev-next-button previous" type="button"
                aria-label="Previous">
            <svg class="flickity-button-icon" viewBox="0 0 100 100">
                <path d="M 10,50 L 60,100 L 70,90 L 30,50  L 70,10 L 60,0 Z" class="arrow"></path>
            </svg>
        </button>
        <button class="flickity-button flickity-prev-next-button next" type="button" aria-label="Next">
            <svg class="flickity-button-icon" viewBox="0 0 100 100">
                <path d="M 10,50 L 60,100 L 70,90 L 30,50  L 70,10 L 60,0 Z" class="arrow"
                      transform="translate(100, 100) rotate(180) "></path>
            </svg>
        </button>
        <ol class="flickity-page-dots">
            <li class="dot" aria-label="Page dot 1"></li>
            <li class="dot" aria-label="Page dot 2"></li>
            <li class="dot" aria-label="Page dot 3"></li>
            <li class="dot is-selected" aria-label="Page dot 4" aria-current="step"></li>
            <li class="dot" aria-label="Page dot 5"></li>
            <li class="dot" aria-label="Page dot 6"></li>
            <li class="dot" aria-label="Page dot 7"></li>
            <li class="dot" aria-label="Page dot 8"></li>
            <li class="dot" aria-label="Page dot 9"></li>
            <li class="dot" aria-label="Page dot 10"></li>
        </ol>
    </div-->
    <!--script src="https://npmcdn.com/flickity@2/dist/flickity.pkgd.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script-->
    <!--div class="container" top="0px" height="100%" width="100%">
        <p height="300" width="300">
            <img src="{{ url_for('static', filename='img/nature.gif') }}" wight="100%"></p>
        <<div> class="shadow-lg p-3 mb-5 bg-body rounded" >

    </div-->
</body>
<!--script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script-->
</html>
